## SQL Data Engineering Challenges

Halo guys!.

Pada kesempatan kali ini aku akan membagikan pengalamanku ketika aku mengikuti pelatihan DQLab Academy Data Engineering melalui Digitalent program PROA Professional Academy yang diselenggarakan oleh KOMINFO.

Dalam artikel ini, aku akan share bagaimana sih seorang junior data engineer bekerja?.
Misalnya kita bekerja sebagai data engineer baru di sebuah perusahaan retail. Teman kita seorang data analis membutuhkan bantuan untuk mendapatkan data yang tersimpan di dalam database milik perusahaan. Sehingga kita diminta membuat SQL query untuk mendapatkan beberapa data dari database di kantor kita. 

Setelah berdiskusi dengan data analis tersebut, kita tahu ada beberapa pertanyaan yang harus di jawab dengan menggunakan data di dalam database kita. Pertanyaan ini berkaitan dengan performa perusahaan yang harus di sampaikan kepada investor.

In [1]:
# data preparations ~ create data frame for querying
import pandas as pd
orders = pd.read_csv("./orders.csv",sep=",")
customers = pd.read_csv("./customers.csv",sep=",")
products = pd.read_csv("./products.csv",sep=",")
countries = pd.read_csv("./countries.csv",sep=",")

orders['invoice_date'] = pd.to_datetime(orders['invoice_date'])

## Step 1 - Memahami isi data
Karena kita baru saja bekerja di perusahaan ini, kita masih belum mengerti ada apa saja data-data yang tersimpan di dalam data tersebut. Sehingga kita perlu melihat contoh data dari tiap tiap tabel tersebut.

### Memanggil data tabel orders
Tampilkan lima baris data untuk tabel orders dan tampilkan semua kolom nya.

In [2]:


df_4 = _deepnote_execute_sql("""SELECT * 
FROM orders
LIMIT 5;
""", 'SQL_DEEPNOTE_DATAFRAME_SQL')
df_4

,invoice_id,product_id,quantity,invoice_date,customer_id,country_id
0,539993,21499,4,2021-05-16 16:31:00,1340,34
1,539993,21498,24,2021-04-25 10:20:00,1429,34
2,539993,20718,4,2021-04-23 11:04:00,1320,34
3,539993,22961,4,2021-11-15 16:13:00,1301,34
4,539993,22896,1,2021-10-24 20:16:00,1753,34

In [3]:


df_9 = _deepnote_execute_sql("""SELECT COUNT(DISTINCT invoice_id) AS Jumlah_Order
FROM orders;
""", 'SQL_DEEPNOTE_DATAFRAME_SQL')
df_9

   Jumlah_Order
0         15080

### Memanggil data tabel countries
Tampilkan lima baris data untuk tabel countries dan tampilkan semua kolom nya.

In [4]:


df_2 = _deepnote_execute_sql("""SELECT *
FROM countries
LIMIT 5;
""", 'SQL_DEEPNOTE_DATAFRAME_SQL')
df_2

   id       name
0   1  Australia
1   2    Austria
2   3    Bahrain
3   4    Belgium
4   5     Brazil

### Memanggil data tabel products
Tampilkan lima baris data untuk tabel products dan tampilkan semua kolom nya.

In [5]:


df_3 = _deepnote_execute_sql("""SELECT *
FROM products
LIMIT 5;
""", 'SQL_DEEPNOTE_DATAFRAME_SQL')
df_3

      id                          name     price
0  10002   INFLATABLE POLITICAL GLOBE   1.086620
1  10120                  DOGGY RUBBER  0.210000
2  10125       MINI FUNKY DESIGN TAPES  0.859681
3  10133  COLOURING PENCILS BROWN TUBE  0.649045
4  10135  COLOURING PENCILS BROWN TUBE  1.410167

In [6]:


df_10 = _deepnote_execute_sql("""SELECT COUNT(products.id) AS Jumlah_Produk
FROM products;
""", 'SQL_DEEPNOTE_DATAFRAME_SQL')
df_10

   Jumlah_Produk
0           2498

### Memanggil data tabel customers
Tampilkan lima baris data untuk tabel customers dan tampilkan semua kolom nya.

In [7]:


df_5 = _deepnote_execute_sql("""SELECT *
FROM customers
LIMIT 5;
""", 'SQL_DEEPNOTE_DATAFRAME_SQL')
df_5

     id first_name last_name                    email  gender
0  1234      Murry     Roath    mroath0@reference.com    Male
1  1235      Haley    Davitt     hdavitt1@t-online.de  Female
2  1236     Wilbur     Firth        wfirth2@amazon.de    Male
3  1237    Ephraim  Bremmell     ebremmell3@globo.com    Male
4  1238     Melita    Dyment  mdyment4@infoseek.co.jp  Female

In [8]:


df_11 = _deepnote_execute_sql("""SELECT COUNT(DISTINCT customers.id) AS Jumlah_Customer
FROM customers;
""", 'SQL_DEEPNOTE_DATAFRAME_SQL')
df_11

   Jumlah_Customer
0              595

## Step 2 - Analisa data
Setelah kita memahami apa-apa saja data yang tersedia di database kita. Saatnya untuk mempersiapkan data yang dapat di gunakan untuk pembuatan laporan performa perusahaan. Beberapa poin yang harus di persiapkan diantaranya:

- Ada berapa total nilai penjualan sepanjang waktu?
- Bagaimana trend nilai penjualan dari bulan ke bulan?
- Berapa jumlah transaksi yang sudah terjadi?
- Berapa jumlah transaksi dari bulan ke bulan?
- Berapa jumlah total nilai per transaksi sepanjang waktu?
- Tampilkan tiga negara teratas yang memiliki nilai transaksi terbanyak?
- Tampilkan lima buah produk yang paling banyak terjual?
- Negara mana yang memiliki penjualan paling sedikit?
- Kapan penjualan terbesar per hari terjadi?
- Siapa yang paling banyak berbelanja pada bulan November 2021?

### -- Ada berapa total nilai penjualan sepanjang waktu?

In [9]:


df_5 = _deepnote_execute_sql("""SELECT SUM(orders.quantity * products.price) as total_nilai_penjualan
FROM orders
JOIN products ON products.id = orders.product_id;
""", 'SQL_DEEPNOTE_DATAFRAME_SQL')
df_5

   total_nilai_penjualan
0           1.292442e+07

### -- Bagaimana trend nilai penjualan dari bulan ke bulan?

In [10]:


df_6 = _deepnote_execute_sql("""SELECT 
    MONTH(orders.invoice_date) as bulan,
    SUM(orders.quantity * products.price) as total_nilai_penjualan
FROM orders
JOIN products ON products.id = orders.product_id
GROUP BY MONTH(orders.invoice_date);
""", 'SQL_DEEPNOTE_DATAFRAME_SQL')
df_6

    bulan  total_nilai_penjualan
0       1           8.976498e+05
1       2           8.226239e+05
2       3           8.466323e+05
3       4           7.139053e+05
4       5           1.080854e+06
5       6           9.661486e+05
6       7           1.071584e+06
7       8           1.121784e+06
8       9           1.352247e+06
9      10           1.780802e+06
10     11           1.841620e+06
11     12           4.285724e+05

In [11]:


df_8 = _deepnote_execute_sql("""SELECT
    invoice_date,
    DATE_TRUNC('day', invoice_date) AS Day,
    DATE_TRUNC('Week', invoice_date) AS Week,
    DATE_TRUNC('month', invoice_date) AS Month
FROM orders
ORDER BY invoice_date ASC;
""", 'SQL_DEEPNOTE_DATAFRAME_SQL')
df_8

              invoice_date        day       Week      month
0      2021-01-01 10:00:00 2021-01-01 2020-12-28 2021-01-01
1      2021-01-01 10:00:00 2021-01-01 2020-12-28 2021-01-01
2      2021-01-01 10:00:00 2021-01-01 2020-12-28 2021-01-01
3      2021-01-01 10:00:00 2021-01-01 2020-12-28 2021-01-01
4      2021-01-01 10:00:00 2021-01-01 2020-12-28 2021-01-01
...                    ...        ...        ...        ...
279944 2021-12-06 12:50:00 2021-12-06 2021-12-06 2021-12-01
279945 2021-12-06 12:50:00 2021-12-06 2021-12-06 2021-12-01
279946 2021-12-06 12:50:00 2021-12-06 2021-12-06 2021-12-01
279947 2021-12-06 12:50:00 2021-12-06 2021-12-06 2021-12-01
279948 2021-12-06 12:50:00 2021-12-06 2021-12-06 2021-12-01

[279949 rows x 4 columns]

In [12]:


df_7 = _deepnote_execute_sql("""SELECT 
    DATE_TRUNC('month', invoice_date) AS Bulan,
    SUM(orders.quantity * products.price) AS Total_Nilai_Penjualan
FROM orders
JOIN products ON products.id = orders.product_id
GROUP BY DATE_TRUNC('month', invoice_date);
""", 'SQL_DEEPNOTE_DATAFRAME_SQL')
df_7

        Bulan  Total_Nilai_Penjualan
0  2021-05-01           1.080854e+06
1  2021-04-01           7.139053e+05
2  2021-11-01           1.841620e+06
3  2021-10-01           1.780802e+06
4  2021-07-01           1.071584e+06
5  2021-06-01           9.661486e+05
6  2021-08-01           1.121784e+06
7  2021-12-01           4.285724e+05
8  2021-01-01           8.976498e+05
9  2021-02-01           8.226239e+05
10 2021-03-01           8.466323e+05
11 2021-09-01           1.352247e+06

### -- Berapa jumlah transaksi yang sudah terjadi?

In [27]:


df_12 = _deepnote_execute_sql("""SELECT COUNT(*) AS Jumlah_Transaksi
FROM orders;
""", 'SQL_DEEPNOTE_DATAFRAME_SQL')
df_12

   Jumlah_Transaksi
0            279949

### -- Berapa jumlah transaksi dari bulan ke bulan?

In [14]:


df_13 = _deepnote_execute_sql("""SELECT 
    DATE_TRUNC('month', orders.invoice_date) AS Bulan,
    COUNT(*) AS Jumlah_Transaksi
FROM orders
GROUP BY DATE_TRUNC('month', orders.invoice_date);
""", 'SQL_DEEPNOTE_DATAFRAME_SQL')
df_13

        Bulan  Jumlah_Transaksi
0  2021-11-01             48122
1  2021-12-01             10175
2  2021-07-01             20905
3  2021-08-01             19447
4  2021-09-01             30503
5  2021-10-01             38967
6  2021-06-01             19296
7  2021-05-01             21665
8  2021-03-01             20033
9  2021-04-01             16862
10 2021-01-01             18777
11 2021-02-01             15197

In [24]:
_deepnote_run_altair(df_13, """{"data":{"name":"placeholder"},"mark":{"type":"bar","tooltip":true},"height":220,"$schema":"https://vega.github.io/schema/vega-lite/v4.json","autosize":{"type":"fit"},"encoding":{"x":{"sort":null,"type":"temporal","field":"Bulan","scale":{"type":"linear","zero":false}},"y":{"sort":null,"type":"quantitative","field":"Jumlah_Transaksi","scale":{"type":"linear","zero":true}},"color":{"sort":null,"type":"nominal","field":"","scale":{"type":"linear","zero":false}}}}""")

alt.Chart(...)

### -- Berapa jumlah total nilai per transaksi sepanjang waktu?

In [16]:


df_14 = _deepnote_execute_sql("""SELECT 
    DATE_TRUNC('month' ,invoice_date) AS Bulan,
    SUM(orders.quantity * products.price)/COUNT(DISTINCT invoice_id) AS Total_Nilai_Penjualan
FROM orders
JOIN products ON orders.product_id = products.id
GROUP BY DATE_TRUNC('month' ,invoice_date);
""", 'SQL_DEEPNOTE_DATAFRAME_SQL')
df_14

        Bulan  Total_Nilai_Penjualan
0  2021-05-01             419.260705
1  2021-04-01             303.531181
2  2021-11-01             434.959798
3  2021-10-01             471.610788
4  2021-07-01             400.741909
5  2021-06-01             379.924724
6  2021-08-01             443.919229
7  2021-12-01             216.998681
8  2021-01-01             392.329456
9  2021-02-01             370.551299
10 2021-03-01             345.564213
11 2021-09-01             406.446352

In [25]:
_deepnote_run_altair(df_14, """{"data":{"name":"placeholder"},"mark":{"type":"bar","tooltip":true},"height":220,"$schema":"https://vega.github.io/schema/vega-lite/v4.json","autosize":{"type":"fit"},"encoding":{"x":{"sort":null,"type":"temporal","field":"Bulan","scale":{"type":"linear","zero":false}},"y":{"sort":null,"type":"quantitative","field":"Total_Nilai_Penjualan","scale":{"type":"linear","zero":true}},"color":{"sort":null,"type":"nominal","field":"","scale":{"type":"linear","zero":false}}}}""")

alt.Chart(...)

### -- Tampilkan tiga negara teratas yang memiliki nilai transaksi terbanyak?

In [18]:


df_16 = _deepnote_execute_sql("""WITH Penjualan_Negara AS (
SELECT 
    c.name AS Nama_Negara,
    SUM(o.quantity * p.price) AS Penjualan
FROM orders AS o
INNER JOIN products AS p ON o.product_id = p.id
INNER JOIN countries AS c ON o.country_id = c.id
GROUP BY c.name
)

SELECT 
    Nama_Negara
FROM Penjualan_Negara
ORDER BY Penjualan DESC
LIMIT 3;
""", 'SQL_DEEPNOTE_DATAFRAME_SQL')
df_16

      Nama_Negara
0  United Kingdom
1     Netherlands
2            EIRE

### -- Tampilkan lima buah produk yang paling banyak terjual?

In [19]:


df_16 = _deepnote_execute_sql("""SELECT 
    p.name AS Produk,
    SUM(o.quantity) AS Total
FROM orders AS o
JOIN products AS p ON o.product_id = p.id
GROUP BY p.name
ORDER BY Total DESC
LIMIT 5;
""", 'SQL_DEEPNOTE_DATAFRAME_SQL')
df_16

                             Produk  Total
0         RED RETROSPOT SHOPPER BAG  78550
1  SET OF 3 CAKE TINS PANTRY DESIGN  17917
2          RECYCLING BAG RETROSPOT   16265
3                     PARTY BUNTING  14157
4   NATURAL SLATE HEART CHALKBOARD   14052

### -- Negara mana yang memiliki penjualan paling sedikit?

In [20]:


df_19 = _deepnote_execute_sql("""WITH Penjualan_Negara AS (
SELECT 
    c.name AS Nama_Negara,
    SUM(o.quantity * p.price) AS Penjualan
FROM orders AS o
INNER JOIN products AS p ON o.product_id = p.id
INNER JOIN countries AS c ON o.country_id = c.id
GROUP BY c.name
)

SELECT 
    Nama_Negara,
FROM Penjualan_Negara
ORDER BY Penjualan ASC
LIMIT 1;
""", 'SQL_DEEPNOTE_DATAFRAME_SQL')
df_19

    Nama_Negara
0  Saudi Arabia

### -- Kapan penjualan terbesar per hari terjadi?

In [21]:


df_17 = _deepnote_execute_sql("""SELECT
    DATE_TRUNC('day', invoice_date) AS Bulan,
    SUM(o.quantity * p.price) AS Penjualan
FROM orders AS o
JOIN products AS p ON o.product_id = p.id
GROUP BY DATE_TRUNC('day', invoice_date)
ORDER BY Penjualan DESC;
""", 'SQL_DEEPNOTE_DATAFRAME_SQL')
df_17

         Bulan      Penjualan
0   2021-11-11  162971.246764
1   2021-11-13  149427.829385
2   2021-01-15  142832.353973
3   2021-08-15  135333.481061
4   2021-05-09  135228.123486
..         ...            ...
280 2021-06-23    8099.104804
281 2021-02-10    7586.150075
282 2021-08-11    7092.433549
283 2021-03-10    6246.938738
284 2021-02-03    3535.026149

[285 rows x 2 columns]

In [26]:
_deepnote_run_altair(df_17, """{"data":{"name":"placeholder"},"mark":{"type":"bar","tooltip":true},"height":220,"$schema":"https://vega.github.io/schema/vega-lite/v4.json","autosize":{"type":"fit"},"encoding":{"x":{"sort":null,"type":"temporal","field":"Bulan","scale":{"type":"linear","zero":false}},"y":{"sort":null,"type":"quantitative","field":"Penjualan","scale":{"type":"linear","zero":true}},"color":{"sort":null,"type":"nominal","field":"","scale":{"type":"linear","zero":false}}}}""")

alt.Chart(...)

### -- Siapa yang paling banyak berbelanja pada bulan November 2021?

In [23]:


df_18 = _deepnote_execute_sql("""WITH Customer AS (
SELECT
    CONCAT(cs.first_name, ' ', last_name) AS Fullname,
    SUM(o.quantity * p.price) AS Total
FROM orders AS o
JOIN products AS p ON o.product_id = p.id
JOIN customers AS cs ON o.customer_id = cs.id
WHERE o.invoice_date > '2021-10-30' AND o.invoice_date < '2021-12-01'
GROUP BY Fullname
ORDER BY Total DESC
LIMIT 1
)

SELECT Fullname
FROM Customer;
""", 'SQL_DEEPNOTE_DATAFRAME_SQL')
df_18

       Fullname
0  Evan Colloff

Sekian penjelasan mengenai SQL Data Engineering Challenges dan tunggu artikel aku selanjutnya ya. Oh iya, jangan lupa tulis saran dan kritik kalian mengenai artikel ini . . . :) Terimakasih.

## References

Mentor: Bima Putra Pratama - Analytics Engineer

https://dqlab.id/

https://digitalent.kominfo.go.id/

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=9b17787b-7457-4f98-a818-69afdf479f71' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>